<div class="container-fluid mt-3">
    
    <h4><marquee>Subscribe to our channel for more awesome projects</marquee></h4>

    <div class="row mt-3" *ngIf="(news$ | async)?.articles as articles">
        <div *ngFor="let article of articles" class="col-lg-3 mt-3 mb-3">
            
            <div class="box">
                <img src="{{ article.urlToImage }}" alt="image" width="100%">
                <h5 class="mt-3 mb-3">{{ article.title | shortner: 60 }}</h5>
                <a class="btn btn-dark btn-sm" href="{{ article.url }}" target="_blank">Read More</a>
            </div>

        </div>
    </div>
</div>