marquee{
    color: red;
}

.box{
    padding: 10px 10px;
    border-radius: 6px;
    background-color: rgb(240, 240, 240);

    h5{
        font-size: 15px;
        font-weight: bold;
    }

    img{
        width: 100%;
        height: 200px;
        object-fit: cover;
    }

}